includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  level: max
  configDirectories:
    - resources/config
  paths:
    - src
  ignoreErrors:
    - identifier: larastan.noEnvCallsOutsideOfConfig
      path: resources/config
